mypy
exponential_backoff_ca
diskcache
filelock

python-ldap

python-dateutil
types-python-dateutil

pytz
types-pytz

types-requests

sphinx
sphinx-markdown-builder

--extra-index-url=https://code.stanford.edu/api/v4/projects/green%2Fstanford-green/packages/pypi/simple
stanford-green>=0.3.1


